{{ define "capabilities" }}
<!doctype html>
<html lang="en" class="h-100">
  {{ template "head" . }}
  <body class="d-flex h-100 text-center text-bg-dark">
    <div class="container-sm d-flex w-100 h-100 p-3 mx-auto flex-column">
      {{ template "navigation" . }}
      <h1>Capabilities</h1>
      <p> Coming soon...</p>



      {{ template "footer" . }}
    </div>
  </body>
</html>
{{ end }}
