{{ define "consulting" }}
<!doctype html>
<html lang="en" class="h-100">
  {{ template "head" . }}
  <body class="d-flex h-100 text-center text-bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      {{ template "navigation" . }}

      <main class="px-3 pt-5">
        <h1>Financial Technology Solutions</h1>
        <p class="lead">Leverage our expertise to increase your business operational excellance and efficiency</p>
        <p class="lead">
          <a href="mailto:inquiry@leroscapital.com?subject=Inquiry:"
            class="btn btn-lg btn-light fw-bold border-white bg-white">
            Contact us to learn more
          </a>
        </p>
      </main>
      <div class="container  py-5" id="featured-3">
        <h2 class="pb-2 border-bottom">Specialties</h2>
        <div class="row g-4 py-3 row-cols-1 row-cols-lg-3">
          <div class="feature col">
            <div class="feature-icon d-inline-flex align-items-center justify-content-center fs-2 mb-3">
              <i class="bi bi-cpu"></i>
            </div>
            <h3 class="fs-2">Technology</h3>
            <ul class="text-start">
              <li>System Design or Selection</li>
              <li>Process Automation</li>
              <li>Custom Software Development</li>
              <li>Technical Sales Support</li>
            </ul>
          </div>
          <div class="feature col">
            <div class="feature-icon d-inline-flex align-items-center justify-content-center fs-2 mb-3">
              <i class="bi bi-currency-dollar"></i>
            </div>
            <h3 class="fs-2">Finance</h3>
            <ul class="text-start">
              <li>Financial Models</li>
              <li>Mergers and Acquisitions</li>
              <li>Treasury and Cash Management</li>
            </ul>
          </div>
          <div class="feature col">
            <div class="feature-icon d-inline-flex align-items-center justify-content-center fs-2 mb-3">
              <i class="bi bi-gear-wide-connected"></i>
            </div>
            <h3 class="fs-2">Strategy</h3>
            <ul class="text-start">
              <li>Decision Making</li>
              <li>Business Model Design</li>
              <li>Research Projects</li>
            </ul>
          </div>
        </div>
      </div>

      {{ template "footer" . }}
    </div>
  </body>
</html>
{{ end }}
