{{ define "footer" }}
<footer class="footer mt-auto py-3 bg-light">
  <div class="container">
    <span class="text-muted">
      &copy; Copyright <span id='year'></span> by Leros Capital LLC.
    </span>
  </div>
</footer>
{{ end }}
