{{ define "footer" }}
<footer class="footer mt-auto py-3 bg-light">
  <div class="container">
    <span class="text-muted">
      &copy; Copyright <span id='year'></span> by Leros Capital LLC.
    </span>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <script src="/js/ui.js"></script>

</footer>
{{ end }}
