{{ define "head" }}
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" href="https://storage.googleapis.com/leros-capital.appspot.com/img/favicon.ico">
  <!-- meta name="google-signin-client_id"
    content="584752879666-76s36n817u0ukbnnoe9atnvf2csv7rct.apps.googleusercontent.com" -->
  <title>{{ .PageTitle }}</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://storage.googleapis.com/leros-capital.appspot.com/css/custom.css">
</head>
{{ end }}
