{{ define "home" }}
<!doctype html>
<html lang="en" class="h-100">
  {{ template "head" . }}
  <body class="d-flex h-100 text-center text-bg-dark">
    <div class="container-sm d-flex w-100 h-100 p-3 mx-auto flex-column">
      {{ template "navigation" . }}

      <main class="px-3">
        <h1>Leros Capital</h1>
        <p class="lead">Continuous improvement leads to a better future</p>
        <!-- p class="lead">
          <a href="mailto:questions@leroscapital.com?subject=Question:"
            class="btn btn-lg btn-light fw-bold border-white bg-white">Contact Us
          </a>
        </p -->
      </main>

      {{ template "footer" . }}
    </div>
  </body>
</html>
{{ end }}
