{{ define "home" }}
<!doctype html>
<html lang="en" class="h-100">
  {{ template "head" . }}
  <body class="d-flex h-100 text-center text-bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="mb-auto">
        <div>
          {{/* template "navigation" . */}}
          <!-- h3 class="float-md-start mb-0">Leros Capital</h3>
          <nav class="nav nav-masthead justify-content-center float-md-end">
            <a class="nav-link fw-bold py-1 px-0 active" aria-current="page" href="/">Home</a>
            <a class="nav-link fw-bold py-1 px-0" href="#">Features</a>
            <a class="nav-link fw-bold py-1 px-0" href="#">Contact</a>
          </nav>
            -->
        </div>
      </header>

      <main class="px-3">
        <h1>Leros Capital</h1>
        <p class="lead">Constantly striving to improve everything we touch.</p>
        <p class="lead">
          <a href="mailto:questions@leroscapital.com?subject=Question:"
            class="btn btn-lg btn-light fw-bold border-white bg-white">Contact Us
          </a>
        </p>
      </main>

      {{ template "footer" . }}
    </div>
  </body>
</html>
{{ end }}
