{{ define "map" }}
<!doctype html>
<html>
  <head>
    <title>Circles</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link rel="stylesheet" href="https://storage.googleapis.com/leros-capital.appspot.com/css/style.css"/>
    <script src="https://storage.googleapis.com/leros-capital.appspot.com/js/index.js"></script>

  </head>
  <body>
    <div id="map"></div>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ .APIKey }}&callback=initMap&v=weekly" async></script>
  </body>
</html>
{{ end }}
