{{ define "terms" }}
<!doctype html>
<html lang="en" class="h-100">
  {{ template "head" . }}
  <body class="d-flex h-100 text-center text-bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      {{ template "navigation" . }}

      <main class="px-3">
        <h1>Terms</h1>
      </main>

      {{ template "footer" . }}
    </div>
  </body>
</html>
{{ end }}
