{{ define "treasury" }}
<!doctype html>
<html lang="en">
  {{ template "head" . }}
  <body>
    {{ template "navigation" . }}

    <main class="container">
      <h1> Treasury Direct API with CORS </h1>
      <a href="/treasury/NP_WS/debt/current?format=json">Current Debt</a>

    </main> <!-- /container -->
    {{ template "footer" . }}
  </body>
</html>
{{ end }}
