{{ define "treasury" }}
<!doctype html>
<html lang="en" class="h-100">
  {{ template "head" . }}
  <body class="d-flex h-100 text-center text-bg-dark">
    <div class="container-sm d-flex w-100 h-100 p-3 mx-auto flex-column">
    {{/* template "navigation" . */}}

    <main class="px-3">
      <h1> Treasury Direct API with CORS </h1>
      <div class="d-flex justify-content-center">
        <ul>
          <li>
            <a href="/treasury/NP_WS/debt/current?format=json">Current Debt</a>
          </li>
        </ul>
      </div>
    </main>

    {{ template "footer" . }}
    </div>
  </body>
</html>
{{ end }}
